html {
  text-align: center;
  background-color: #3b3b4f;
}

.title {
  color: orangered;
  font-family: Comic Sans MS;
}

#kek {
  max-width: 20vw;
  padding-bottom: 30px;
}

#display {
  font-family: Verdana;
}